@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");
@media all and (max-width:767px), all and (orientation: portrait){
    @include aoa-bg-series($img__classes--v,$img__aoa--v,0,"center","cover","scroll");
    .contact{
        &-s1{
            background-position-x: right!important;
        }
    }
    .index{
        &-s1 *{            
            color: #333!important;
            text-align: center!important;
        }
    }
}
.about{
    &-s1{
        background-position-y: bottom!important;
        background-position-x: right!important;
    }
    &-s2{
        background-position-y: top!important;
        background-position-x: left!important;
    }
}
.bg{
    &-blue{
        background-color: $color__blue!important;
    }
}
.border{
    &-blue{
        border-color: $color__blue!important;
    }
}
.contact{
    &-s1{
        background-position-y: bottom!important;
    }
    &-s2{
        background-position-y: top!important;
    }
}
.error{
    &-s1{
        background-position-x: 80%!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.privacy{
    &-s1{
        background-position-x: right!important;
    }
}
.text{
    &-blue{
        color: $color__blue!important;
    }
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family:"Aldrich";
    letter-spacing: 1px;
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width: 767px){
    .error{
        &-s1{
            *{
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    footer{
        .text-dark {
            color: #fff!important;
            text-shadow: $text__shadow;
        }
    }
    .navbar{
        &-nav{
            backdrop-filter: blur(5px); 
            background-color: $color__blue;
            border: 1px solid darken($color__blue,20%);
            opacity: 0.9;
            padding: 10px;
        }
    }
}